<h2 mat-dialog-title mat-dialog-close class="close">X</h2>
<div mat-dialog-content class="mat-content">
  <div class="top-container">
    <h2>{{ heroData?.name }}</h2>
    <div class="details-hero-img">
      <img [src]="heroData?.image?.url" [alt]="heroData?.name + '-image'" />
    </div>
  </div>
  <div class="bottom-container" *ngIf="!isEditing">
    <div class="left-side side">
      <div class="left-list list">
        <ul>
          <li>
            <span class="span-title">Real Name:</span>
            {{ heroData?.biography?.realName }}
          </li>
          <li>
            <span class="span-title">Aliases:</span>
            {{ heroData?.biography?.aliases }}
          </li>
          <li>
            <span class="span-title">Place of Birth:</span>
            {{ heroData?.biography?.placeOfBirth }}
          </li>
          <li>
            <span class="span-title">First Appearance:</span>
            {{ heroData?.biography?.firstAppareance }}
          </li>
          <li>
            <span class="span-title">Occupation:</span>
            {{ heroData?.work?.occupation }}
          </li>
        </ul>
      </div>
      <div class="right-list list">
        <ul>
          <li>
            <span class="span-title">Eye Color:</span>
            {{ heroData?.appearance?.eyeColor }}
          </li>
          <li>
            <span class="span-title">Gender:</span>
            {{ heroData?.appearance?.gender }}
          </li>
          <li>
            <span class="span-title">Race:</span>
            {{ heroData?.appearance?.race }}
          </li>
          <li>
            <span class="span-title">Height:</span>
            {{ heroData?.appearance?.height }}
          </li>
          <li>
            <span class="span-title">Weight:</span>
            {{ heroData?.appearance?.weight }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <form *ngIf="isEditing" [formGroup]="heroForm">
    <div class="bottom-container">
      <div class="left-side side">
        <div class="left-list list">
          <ul>
            <li class="form-input-container">
              <span class="span-title">Real Name:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="realName"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Aliases:</span>
              <textarea
                class="form-input"
                type=""
                formControlName="aliases"
              ></textarea>
            </li>
            <li class="form-input-container">
              <span class="span-title">Place of Birth:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="placeOfBirth"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">First Appearance:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="firstAppareance"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Occupation:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="occupation"
              />
            </li>
          </ul>
        </div>
        <div class="right-list list">
          <ul>
            <li class="form-input-container">
              <span class="span-title">Eye Color:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="eyeColor"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Gender:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="gender"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Race:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="race"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Height:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="height"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Weight:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="weight"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="actions" *ngIf="isEditing">
      <button
        mat-button
        class="accept-button"
        type="submit"
        (click)="handleSubmit($event)"
      >
        <span>Save</span>
      </button>
      <button mat-button class="delete-button" (click)="changeToEdit()">
        <span>Cancel</span>
      </button>
    </div>
  </form>

  <div mat-dialog-actions class="actions" *ngIf="!isEditing">
    <button mat-button class="edit-button" (click)="changeToEdit()">
      <span>Edit</span>
    </button>
    <button mat-button class="delete-button" (click)="deleteById(heroData!.id)">
      <span>Remove</span>
    </button>
  </div>
</div>

<ng-template #removeHeroTemplate>
  <div mat-dialog-content class="mat-content">
    <h2 mat-dialog-title>Are you sure you want to remove this hero?</h2>
    <div mat-dialog-actions class="actions">
      <button
        mat-button
        class="accept-button"
        mat-dialog-close="{{ doRemove }}"
      >
        <span>Yes</span>
      </button>
      <button
        mat-button
        class="delete-button"
        mat-dialog-close="{{ !doRemove }}"
      >
        <span>No</span>
      </button>
    </div>
  </div>
</ng-template>
