<h2 mat-dialog-title mat-dialog-close class="close">X</h2>
<div mat-dialog-content class="mat-content">
  <div class="top-container">
    <h2>{{ heroData?.name }}</h2>
    <div class="details-hero-img">
      <img [src]="heroData?.image?.url" [alt]="heroData?.name + '-image'" />
    </div>
  </div>
  <div class="bottom-container">
    <div class="left-side side">
      <div class="left-list list">
        <ul>
          <li>
            <span class="property-title">Real Name:</span>
            {{ heroData?.biography?.realName }}
          </li>
          <li>
            <span class="property-title">Aliases:</span>
            {{ heroData?.biography?.aliases }}
          </li>
          <li>
            <span class="property-title">Place of Birth:</span>
            {{ heroData?.biography?.placeOfBirth }}
          </li>
          <li>
            <span class="property-title">First Appearance:</span>
            {{ heroData?.biography?.firstAsppearance }}
          </li>
          <li>
            <span class="property-title">Occupation:</span>
            {{ heroData?.work?.occupation }}
          </li>
        </ul>
      </div>
      <div class="right-list list">
        <ul>
          <li>
            <span class="property-title">Eye Color:</span>
            {{ heroData?.appearance?.eyeColor }}
          </li>
          <li>
            <span class="property-title">Gender:</span>
            {{ heroData?.appearance?.gender }}
          </li>
          <li>
            <span class="property-title">Race:</span>
            {{ heroData?.appearance?.race }}
          </li>
          <li>
            <span class="property-title">Height:</span>
            {{ heroData?.appearance?.height }}
          </li>
          <li>
            <span class="property-title">Weight:</span>
            {{ heroData?.appearance?.weight }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-button class="edit-button">Edit</button>
    <button mat-button class="delete-button" (click)="deleteById(heroData!.id)">Remove</button>
  </div>
</div>

<ng-template #removeHeroTemplate>
  <div mat-dialog-content class="mat-content">
    <h2 mat-dialog-title>Are you sure you want to remove this hero?</h2>
    <div mat-dialog-actions class="actions">
      <button mat-button class="accept-button" mat-dialog-close="{{doRemove}}">Yes</button>
      <button mat-button class="delete-button" mat-dialog-close="{{!doRemove}}">No</button>
    </div>
  </div>
</ng-template>
