/* You can add global styles to this file, and also import other style files */

$white: #ffffff;

$superGreen: #39ba67;
$superRed: #ff3c4c;
$superYellow: #ffb90d;
$superBlue: #4b7cfd;
$superDarkRed: #a51330;
$superOrange: #fe8000;
$superLightBlue: #4b7bff;
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
