<div mat-dialog-content class="new-hero">
  <div class="top-container">
    <h2>Create new hero</h2>
  </div>
  <form [formGroup]="newHeroForm">
    <div class="bottom-container">
      <div class="left-side side">
        <div class="left-list list">
          <ul>
            <li class="form-input-container">
              <span class="span-title">Name:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="name"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Real Name:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="realName"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Aliases:</span>
              <textarea
                class="form-input"
                type=""
                formControlName="aliases"
              ></textarea>
            </li>
            <li class="form-input-container">
              <span class="span-title">Place of Birth:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="placeOfBirth"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">First Appearance:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="firstAppareance"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Occupation:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="occupation"
              />
            </li>
          </ul>
        </div>
        <div class="right-list list">
          <ul>
            <li class="form-input-container">
              <span class="span-title">Add Img:</span>
              <input
                required
                class="form-input"
                type="file"
                (change)="handleImage($event)"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Eye Color:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="eyeColor"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Gender:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="gender"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Race:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="race"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Height:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="height"
              />
            </li>
            <li class="form-input-container">
              <span class="span-title">Weight:</span>
              <input
                required
                class="form-input"
                type="text"
                formControlName="weight"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="actions">
      <button
        mat-button
        class="accept-button"
        type="submit"
        (click)="handleCreateNewHero($event)"
      >
        <span>Save</span>
      </button>
      <button mat-button mat-dialog-close class="delete-button"><span>Cancel</span></button>
    </div>
  </form>
</div>
